/* Master */

body {
    margin: 20px;
    font-family: sans-serif;
    background-color: #fbfbffff;
}

.centre_text {
    text-align: center;
}

.left_text {
    text-align: left;
}
/* Navigation Bar */
#logo{
    float: right;
    font-size: 0%;
    margin-right: 50px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 250px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 50px;
}

#menu a {
    text-decoration: none;
    color:#119da4ff;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/**************************** Banner Images *****************************/
.nav_wrap {
    display: flex;
}

.column {
    float: left;
    width: 32%;
    padding: 5px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
/* Navigation Bar */

/* Navigation Bar */

/* Navigation Bar */

/* Navigation Bar */

/* Footer */
footer{
    height: 100px;
    background: linear-gradient(to right, #343633ff, #042325ff, #119da4ff, #f64740ff, #fbfbffff) !important;
}

.social_networks{
    text-align: center;

}

.social_networks li{
    display: inline;
}

.social_networks i{
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #343633ff;
}
/* Media Queeries */
@media screen and (max-width: 640px) {
    .column {
      width: 100%;
    }
}

@media screen and (max-width: 640px) {

    #menu {
        clear: right;
        float: left;
        margin-left: 0px; 
        margin-bottom: 10px;
        line-height: 30px;
        offset-position: ;
    }
}

@media (max-width:629px) {
    img#logo {
      display: none;
    }
}
