/* Master */

body {
    margin: 20px;
}

/* Navigation Bar */
.navigation_wrap {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.left_align {
    display: flex;

}

.navigation_wrap > .left_align > div {
    font-family: sans-serif;
    margin-right: 15px;
    font-size: 0.7;
    font-weight: bolder;
    text-transform: uppercase;

}

.navigation_button_wrap {
    padding: 20px;
    height: 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.navigation_button_wrap a {
    color: #119DA4;
    text-decoration: none;
    transition: color 0.2s;
}

.navigation_button_wrap:hover { 
    border-bottom: 3px solid #042325;
}

.navigation_button_wrap a:hover {
    color: #042325
}

/**************************** Slideshow *****************************/


/* Navigation Bar */

/* Navigation Bar */

/* Navigation Bar */

/* Navigation Bar */

/* Footer */
footer{
    height: 100px;
    background: linear-gradient(to right, #343633ff, #042325ff, #119da4ff, #f64740ff, #fbfbffff) !important;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #343633ff;
}