/* Master */

/*backround colour chosen as part of the colour scheme of the site, please see readme for screenshots*/

body {
    margin: 20px;
    font-family: sans-serif;
    background-color: #fbfbffff;
}

.centre_text {
    text-align: center;
}

.left_text {
    text-align: left;
}
/* Navigation Bar */
#logo{
    float: right;
    font-size: 0%;
    margin-right: 50px;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu{
    line-height: 250px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 50px;
}

/*More of the swatchbook colours used thoughout the nav bar*/

#menu a {
    text-decoration: none;
    color:#042325ff;
}

#menu a:hover{
    border-bottom: 3px solid #042325ff;
}

.active{
    border-bottom: 3px solid #f64740ff;
}

/* Banner Images */

/* Needed to create the flex here to avoid banner images losing position and appearing in the nav bar*/

.nav_wrap {
    display: flex;
}

/* row and column borrowed form W3Schools examples for displaying images along side eachother in a row*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Had to decrease the overall size by 1% to fit page corectly */

.column {
    float: left;
    width: 32%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Headers and text */

/* initially had font and trasnsform data in the html doc before making the master styles here */

h1 {
    font-family:Verdana;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #f64740ff;
}

h2 {
    font-family:Verdana;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #f64740ff;
}

h3 {
    font-family:Verdana;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #119da4ff;
}

h3 {
    font-family:Verdana;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #042325ff;
}

/* Created a list_clean style to remove bullets from the lists on the home page. Did not apply this to lists later on in the spec sheet */

.list_clean {
    list-style-type: none;
}

/* Footer */

/* All colours from the swatchbook used here to gradient across the footer*/

footer{
    height: 100px;
    background: linear-gradient(to right, #343633ff, #042325ff, #119da4ff, #f64740ff, #fbfbffff) !important;
}

/* Social network styles taken from Love Running project */

.social_networks{
    text-align: center;

}

.social_networks li{
    display: inline;
}

.social_networks i{
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #343633ff;
}

/* Media Queeries */

/* Media queeries for responsiveness of grouped images on home page */

@media screen and (max-width: 640px) {
    .column {
      width: 100%;
    }
}

/* Nav bar to clear from right and spacing change to accommodate smaller devices to iPhone 5*/

@media screen and (max-width: 640px) {

    #menu {
        clear: right;
        float: left;
        margin-left: 0px; 
        margin-bottom: 10px;
        line-height: 30px;
    }
}

/* Logo on right hand side of web page set not to display on smaller devices */

@media (max-width:629px) {
    img#logo {
      display: none;
    }
}

